@tailwind base;
@tailwind components;
@tailwind utilities;

.checkout-form input, .signup-form input{
    width: 100%;
    margin-bottom: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #706965;
    color: #00ffff;
}

.checkout-form input:focus, .signup-form input:focus{
    outline: none;
}